<div>
  <p>Hello <%= username %>,</p>
  <p>
    Have you forgot your password ? No problem, just click on the link below to
    reset.
  </p>
  <a href="<%= linking %>">Reset password</a>
  <p>Have fun with the app and we wish you feel so good every day ! ;-)</p>
  <br />
  <p>Your I Feel Good team</p>
  <br />
  <hr />
  <br />
  <p>Bonjour <%= username %>,</p>
  <p>
    Tu as oublié ton mot de passe ? Aucun souci, tu as juste besoin de cliquer
    sur le lien ci-dessous pour créer un nouveau mot de passe.
  </p>
  <a href="<%= linking %>">Reset password</a>
  <p>
    Amuse-toi bien avec l'appli et on te souhaite de te sentir tellement bien
    chaque jour ! ;-)
  </p>
  <br />
  <p>Ton équipe I Feel Good</p>
  <div></div>
</div>
