<!DOCTYPE html>
<html lang="en">

<head>
  <title>Reset password</title>
</head>

<body>
  <h1>I Feel Good Team</h1>
  <div class="resetpwd">
    <p>If you already have I Feel Good in your phone,</p>
    <p>please click to this link to
      <a href="ifeelgood://auth/resetPwd/<%= resetPasswordToken %>">reset your password</a>
    </p>
  </div>

  <footer class="power">
    <a href="http://play.google.com/store/" target="_blank">
      <img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="200"
        height="80" />
    </a>
  </footer>
</body>

</html>
